.folder-name{
    color: #CCCCCC;
}
.bg-secondary{
    background-color: #191D23;
}

.btn-primary{
    background: #007AFF;
    color: FFFFFF;
}

.btn-primary{
    background: #007AFF;
    color: #007AFF
}